# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
*/.env
merchant-be/node_modules/*
barcode/node_modules/*
barcode/.expo
barcode/package-lock.json
merchant-be/package-lock.json
merchant-be/.env
merchant-be/pnpm-lock.yaml

system-be/node_modules/*
system-be/dist/*